@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
$highlightcolor: #c7ffb4;
$highlightcolorAlt: #ff98db;
$whitecolor: #fcfcfc;
$blackcolor: #292929;
$gradient: linear-gradient(
  16deg,
  rgba(199, 255, 180, 1) 0%,
  rgba(255, 152, 219, 1) 100%
);
$gradientInvert: linear-gradient(
  192deg,
  rgba(199, 255, 180, 1) 0%,
  rgba(255, 152, 219, 1) 100%
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans", sans-serif;
}
p,
a,
li {
  font-family: "Lato", sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $whitecolor;
  .app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    max-width: 1300px;
  }
}

.app-container-dark {
  background-color: $blackcolor;
}
